.git
.github
.env*
.vercel
.coverage
**/.DS_Store
.venv
**/__pycache__
**/*.pyc
**/node_modules
**/dist
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
data/raw
data/cache
data/forward
data/interim
data/processed
data/artifacts
mlruns
mlflow.db
*.duckdb
*.duckdb.wal
reports
notebooks
tests
